.chatInput {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border-top: 1px solid #1e293b;
    border-radius: 0 0 16px 16px;
    background: #020617;
}

/* PC */
@media (min-width: 768px) {
    .chatInput {
        padding: 14px;
    }
}

