.button {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b82f6;
    border: none;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #2563eb;
}