.chatBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #020617;
  border: 1px solid #1e293b;
}

@media (min-width: 768px) {
  .chatBox {
    max-width: 700px;
    height: 90vh;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }
}
